:root {
    --background-color: #784619;
    --header-border_image-color: #76BACF;
    --text_header-color: #145787;
    --text_name-color: #9492FA;
    --text_section-color: #A9F5E8;
    --footer-color: #1E1E1E;
    --button_language-color: #2522BB;
}