.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.flip-checkbox {
  display: none;
}

.card__flipper {
  width: 32rem;
  height: 32rem;
  position: relative;
  display: block;
  transform-style: preserve-3d;
  transition: transform 1s;
  cursor: pointer;
}

.flip-checkbox:checked ~ .card__flipper {
  transform: rotateY(180deg);
}

.card__front,
.card__back {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__front img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border: 0.3rem solid var(--text_name-color);
  border-radius: 1.5rem;
}

.card__back {
  transform: rotateY(180deg);
  background-color: black;
  padding: 2rem;
  overflow: auto;
}

.card__back p {
  color: white;
  text-align: justify;
  line-height: 1.6;
}

.card__back a {
  position: absolute;
  bottom: 3%;

  &:link {
    color: blue;
  }

  &:visited {
    color: purple;
  }

  &:hover {
    color: yellow;
  }

  &:active {
    color: red;
  }  
}

.card__name {
  border: 0.2rem solid;
  border-radius: 1rem;
  background-color: var(--text_name-color);
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 1.5rem;
}

@media (width <= 640px) {
  .card__flipper {
    width: 20rem;
    height: 20rem;
  }

  .card__back p {
    font-size: 0.7rem;
    line-height: 0.9rem;
  }

  .card__name {
    font-size: 1.3rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
  }
}
