footer {
    height: 15vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer p {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 1rem;
}



