footer {
    height: 7rem;
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    span {
        color: red;
    }
}

@media (width <= 640px) {
    footer {
        height: 5rem;
        padding: 0.6rem;
    }
}