.header-main {
  background-color: var(--header-border_image-color);
  margin: 2rem;

  h1 {
    height: 15rem;
    color: var(--text_header-color);
    font-family: "Emilys Candy", serif;
    font-size: 8.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (width <= 640px) {
  .header-main {
    margin: 0.8rem;

    h1 {
      height: 5rem;
      font-size: 2rem;
    }
  }
}
