.section-text {
  border-radius: 0.5rem;
  background-color: var(--text_section-color);
  margin: 0 4rem 5rem;

  p {
    font-family: "Jost", sans-serif;
    text-align: justify;
    font-size: 2.3rem;
    padding: 2rem 3rem;
  }
}

@media (width <= 640px) {
  .section-text {
    margin: 0 1.1rem 3rem;

    p {
      font-size: 0.9rem;
      padding: 1rem 1rem;
    }
  }
}
