.section-text {
    border-radius: 0.5rem;
    background-color: var(--text_section-color);
    margin: 0 7rem;
}

.section-text p {
    font-family: "Jost", sans-serif;
    text-align: justify;
    font-size: 2rem;
    padding: 0 2rem;
}

.section-card-figure img {
    width: 20vw;
    border-radius: 1.5rem;
}

.section-card-figure {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}