.section-text {
    border-radius: 0.5rem;
    background-color: var(--text_section-color);
    margin: 0 7rem;
}

.section-text p {
    font-family: "Jost", sans-serif;
    text-align: justify;
    font-size: 2rem;
    padding: 0 2rem;
}


.section-card {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 0 10rem;
}

.section-card-figure {
    flex: 0 0 33.33%;
    padding: 2rem;
}

.section-card figure img {
    width: 100%;
    height: auto;
    border: 0.3rem solid var(--text_name-color);
    border-radius: 1.5rem;
}

.section-card figure figcaption {
    border: 0.2rem solid;
    border-radius: 0.4rem;
    background-color: var(--text_name-color);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 1rem;
}



