.section-text {
    border-radius: 0.5rem;
    background-color: var(--text_section-color);
    margin: 0 5vw 5vw;

    p {
        font-family: "Jost", sans-serif;
        text-align: justify;
        font-size: 2vw;
        padding: 2vw 4vw;
    }
}